body {
  background-color: white;
}

h1 {
  color: blue;
  text-align: center;
}

.add {
  color: red;
  text-align: center;
}

p {
  color: red;
}

.banner {
  background-color: red;
  padding: 10px;
  border: 10px solid green;
  margin: 5px;
  text-align: center;
  color: black;
}

.banner a {
  color: black;
}

.add {
  border: 5px solid orange;
  background-color: orange;
  width: 40%;
  margin-right: 30%;
  margin-left: 30%;
}